/*// #58CCB6 !important*/

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.c-heroSection__heading {
    color: #58CCB6;
    font-size: 70px;
    font-weight: 300;
    padding-top: 80px;
}

.c-heroSection__subHeading {
    font-size: 15px;
    color: #656565;
    text-align: center;
    padding-top: 40px;
}

.l-tableComparison__img {
    width: 100%;
}

.whyStanzaWrap {
    background-color: #fff;
}

.l-comparison {
    background-color: #58CCB6;
    color: #fff;
    font-size: 28px;
    padding-top: 60px;
}

.c-comparison__subheading {
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
}


.l-tableComparison {
    padding-top: 60px;
}

.l-flatComparison__heading {
    color: #58CCB6;
    font-size: 28px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.l-flatComparison__subHeading,
.l-flatComparison__subHeading2 {
    text-align: center;
    font-size: 14px;
    color: #656565;
}

.l-flatComparison__subHeading--padding {
    padding-top: 20px;
}


.c-productSelect {
    margin-top: 100px;
    padding-bottom: 160px;
}

.c-productSelect__heading {
    font-size: 22px;
}

.c-slide1__img {
    max-height: 200px;
    opacity: 0.5;
}

.c-slide1__img:hover {
    cursor: pointer;
}

.c-slide1__imgWrap {
    padding-top: 60px;
    opacity: 0.5;
}

.c-slide4__imgWrap {
    padding-left: 10px;
    padding-right: 10px;
}

.c-slide1__name {
    color: #444;
    font-size: 14px;
    text-align: center;
}

.c-slide4__img {
	height: 80px;
}

.c-slide4__heading {
	font-size: 24px;
	color: #444;
	padding-bottom: 30px;
}

.c-productSelect .c-productSelect__leftButton {
    color: #58CCB6;
    font-size: 40px;
    position: absolute;
    top: 125px;
    left: 100px;
}

.c-productSelect .c-productSelect__rightButton {
    color: #58CCB6;
    font-size: 40px;
    position: absolute;
    top: 125px;
    right: 100px;
}

.c-cityRowWrap {
	min-height: 200px;
}

.c-productSelect {
    position: relative;
}

.c-selectedImageCss {
    opacity: 1;
}

.c-heroSection__videoWrap {
    padding-top: 40px;
    padding-bottom: 20px;
}

.c-heroSection__downIcon {
    color: #58CCB6;
    font-size: 40px;
}

.md-button[disabled] i {
    opacity: 0.5;
}

.c-productSelect__cityWrap {
    padding-top: 40px;
}

.c-productSelect .c-productSelect__city {
    color: #58CCB6;
    opacity: 0.5;
}

.c-productSelect .c-productSelect__citySelected {
    opacity: 1;
}

.c-slide3__img {
    width: 100%;
}

.c-slide3__buttonMore {
    color: #58CCB6 !important;
    margin-top: 30px !important;
}

@media only screen and (max-width: 599px) {
    .c-heroSection__heading {
        font-size: 40px;
    }

    .c-productSelect .c-productSelect__leftButton,
    .c-productSelect .c-productSelect__rightButton {
        top: unset;
        bottom: 0;
    }

    .c-productSelect {
        padding-bottom: 50px;
    }
}






/*.c-comparison__tableWrap {
	border: 1px solid #fff;
}*/


/*.c-tableContent__metric {
	border-right: 1px solid #fff;
}

.c-tableHeadingWrap {
	border-bottom: 1px solid #fff;
}*/