<div layout="" hide-xs hide-sm layout-align="center center">
    <div layout="column" class="c-header" flex="80">
        <div layout="row" layout-wrap>
            <div layout="column" class="c-header__appName" flex="50">
                E-COMMERCE APP
            </div>
            <div layout="column" flex="50" layout-align="end end">
                <md-button ui-sref="home" class="c-header__homePage">
                    Home
                </md-button>
            </div>
        </div>
    </div>
</div>