<!-- detailObject - main product description -->
<!-- productAttributes - main product attributes and options -->
<!-- productVariations - variation of main product -->
<div ng-if="detailObject" layout="row" class="l-detailedPageWrap" layout-align="center center">
    <div layout="column" flex="80" flex-xs="95" flex-sm="90">
        <div class="c-detailedPageWrap" layout-align="center start" layout="row" layout-wrap>
            <div layout="column" class="c-productSwiper" flex="50" flex-xs="100">
                <div>
                    <div>
                        <ks-swiper-container show-nav-buttons="true" on-ready="onReadySwiper(swiper)">
                            <ks-swiper-slide class="c-productSwiper__slide" ng-repeat="image in detailObject.images track by $index">
                                <div layout="row" layout-align="center center">
                                    <div layout="column">
                                        <img class="c-productSwiper__image" src="{{image}}">
                                    </div>
                                </div>
                            </ks-swiper-slide>
                        </ks-swiper-container>
                    </div>
                    <div class="c-thumbnailSwiperWrap">
                        <ks-swiper-container slides-per-view="4" space-between="10" show-nav-buttons="false" on-ready="onReadySwiper2(swiper)">
                            <ks-swiper-slide class="c-productSwiper__slide" ng-repeat="image in detailObject.images track by $index">
                                <div layout="row" layout-align="center center">
                                    <div layout="column">
                                        <img class="c-productSwiper__imageThumb" src="{{image}}">
                                    </div>
                                </div>
                            </ks-swiper-slide>
                        </ks-swiper-container>
                    </div>
                </div>
            </div>
            <div layout="column" class="c-detailedContent" flex="50" flex-xs="100">
                <div layout="row">
                    <div layout="column" class="c-detailedContent__name">
                        {{detailObject.name}}
                    </div>
                </div>
                <div layout="row">
                    <div layout="column" class="c-detailedContent__description">
                        {{detailObject.desc | limitTo: limitText}}<span ng-if="limitText == 150" ng-click="showCompleteText()">... <span class="c-showMoreSpan">More</span></span>
                    </div>
                </div>
                <div class="c-detailedContent__priceDivWrap" layout="row">
                    <div layout="column">
                        <div layout="row">
                            <div layout="column" class="c-detailedContent__price">
                                <span class="c-detailedContent__currencyIcon">&#8377</span>
                                <span class="c-detailedContent__salesPrice">{{detailObject.sale_price | number: 2}}</span>
                                <span class="c-detailedContent__costPrice"><strike><span>&#8377 </span>{{detailObject.mark_price | number: 2}}</strike>
                                </span>
                            </div>
                        </div>
                        <div ng-if="detailObject.sale_price < detailObject.mark_price" layout="row">
                            <div layout="column" class="c-detailedContent__discountText">
                                <span>You Save</span>
                                <span>&#8377</span>
                                <span>{{detailObject.mark_price - detailObject.sale_price | number: 2}}</span>
                                <!-- <span></span> -->
                                <!-- TODO: show percentage discount   -->
                            </div>
                        </div>
                        <div layout="row">
                            <div layout="column" class="c-detailedContent__taxText">
                                Local taxes included (where applicable)
                            </div>
                        </div>
                    </div>
                </div>
                <div layout="row">
                    <div class="c-productOptionsWrap" layout="column" layout-fill>
                        <div layout="row" class="c-productOptionsWrap__ngRepeatRow" ng-repeat="attribute in productAttributes">
                            <div layout="column">
                                <div layout="row">
                                    <div layout="column" class="c-detailedContent__attributeName">
                                        {{attribute.name}}
                                    </div>
                                </div>
                                <div layout="row" layout-wrap class="c-detailedContent__optionsWrap">
                                    <div class="c-detailedContent__optionRepeat" ng-repeat="option in attribute.types" layout="column" flex>
                                        <md-button ng-class="{true: 'selectedButton', false: 'null'}[attribute.selected._id == option._id]" ng-click="attributeSelect(attribute, option)" class="c-detailedContent__attributeButton">
                                            {{option.name}}
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div layout="row">
                    <div layout="column">
                        <div class="c-detailedContent__quantityHeading">
                            Quantity
                        </div>
                        <div layout="row" class="c-productCount">
                            <div layout="column" flex>
                                <md-button ng-click="decreementProduct()" class="c-productCount__subtract">
                                    -
                                </md-button>
                            </div>
                            <div layout="column" class="c-productCount__count" flex layout-align="center center">
                                {{productCount}}
                            </div>
                            <div layout="column" flex>
                                <md-button ng-click="increementProduct()" class="c-productCount__add">
                                    +
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div layout="row">
                    <div class="c-detailedContent__addCartWrap" layout="column" flex="80" flex-xs="100">
                        <md-button ng-disabled="disableAddCart" class="c-detailedContent__buttonCart">
                            Add to Cart
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>